.zoombox {
    position: fixed;
    bottom: 4.3vw;
    right: 1.5vw;
    z-index: 20190509;
    width: 5vw;
    height: auto;
    display: inline-block;
    touch-action: pan-y;
    user-select: none;
    -webkit-user-drag: none;
}
    .zoombox span {
        position: relative;
        display: inline-block;
        cursor: pointer;
        width: 4vw;
        height: 4vw;
        font-size: 2vw;
        line-height: 4vw;
        font-family: Verdana;
        font-weight: bold;
        border: 1px solid #DCDFE6;
        background-color: #F2F6FC;
        color: #909399;
        margin-top: 1vw;
        text-align: center;
    

    }
        .zoombox span:hover {
            color: #409EFF;
        }
       